body {
  font: 16px;
  color: black;
}
::-webkit-input-placeholder {
   color: darkgrey;
}
  ul#menu{margin-top: -7px !important;}
  img#logo{margin-top: -7px !important;}
.container {
  width: 800px;
  padding-top:100px;
  margin: 2em auto;
  display: block;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message, .contact, .name, .footer, header, footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}
header{
  background-color:#009688 !important;
}

header, footer {
  height: 125px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  padding-left: 0px;
  border-radius: 5px 5px 0 0;
}
header h1, footer h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.email, textarea {
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 200px;
}

footer {
  height: 45px;
  border-radius: 0 0 5px 5px;
  padding-left: 0;
}
footer button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
footer button:hover {
  background: #c0392b;
}
footer button:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}

footer{height: 83px;}