/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Roboto';
}
body {
  margin-top: 0px;
  font-family: 'Roboto';
  color: #352f2b;
}
body input {
  outline: none;
}
body textarea {
  outline: none;
  resize: none;
}

h1 {
  font-size: 80px;
  text-align: center;
  line-height: 140%;
  color: #3c3c3c;
  margin-top: 40px;
}

h2 {
  font-size: 48px;
  color: #009688;
  text-align: center;
  font-weight: 100;
  margin-top: 60px;
  line-height: 60%;
}

h3 {
  font-size: 24px;
  color: #4DB6AC;
  text-align: center;
  margin: 15px 0px;
}

div#wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1600px;
}

img#logo {
  width: 46px;
  position: fixed;
  top: 10px;
  left: 50px;
}

h3#compent {
  position: fixed;
  top: 5px;
  left: 120px;
}

ul#menu {
  position: fixed;
  top: 25px;
  right: 40px;
  width: 400px;
  z-index: 10;
}
ul#menu li {
  display: block;
  float: right;
  width: 70px;
}
ul#menu li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1500px;
  z-index: 1;
}

div#menuwrap {
  height: 65px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 12;
  margin-bottom: 50px;
}
div#menuwrap div#menu {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#fold {
  width: 100%;
  height: 700px;
  background-color: #f1fffd;
}

div#tagline {
  padding-top: 100px;
  height: 400px;
  margin-bottom: 75px;
}

div#CTA {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}
div#CTA input#CTA {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  background-color: #4DB6AC;
  color: white;
  font-size: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  border: none;
}

div#show {
  height: 550px;
}
div#show div#columns {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 350px;
  margin-top: 100px;
}
div#show div#columns img {
  width: 100px;
  margin: auto;
}
div#show div#columns p {
  line-height: 140%;
  text-align: center;
}
div#show div#tagline2 {
  height: 230px;
  padding-bottom: 50px;
  padding-top: 10px;
}

div#lookwrap {
  background-color: #f1fffd;
  height: 900px;
}
div#lookwrap div#look {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 900px;
}
div#lookwrap div#look div#howlook {
  display: inline-block;
  text-align: center;
  margin: 50px 0px 50px -60px;
  margin-top: 50px;
  margin-left: -60px;
  margin-bottom: 50px;
}
div#lookwrap div#look div#howlook div {
  width: 300px;
  margin-left: 120%;
}
div#lookwrap div#look div#howlook div h4 {
  font-size: 32px;
  text-align: center;
}

a.profile_link {
  color: #352f2b;
}

div.profile_thumbnail {
  padding: 0px;
  width: 31%;
  margin: 10px;
  background-color: white;
}
div.profile_thumbnail img.cover {
  width: 100%;
  height: 125px;
}
div.profile_thumbnail img.foto {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  left: 100px;
  top: 75px;
  border: 3px solid white;
}
div.profile_thumbnail p {
  margin: 5px;
  line-height: 150%;
}
div.profile_thumbnail p.summary {
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  margin: -20px 0px 25px 5px;
}
div.profile_thumbnail h4 {
  font-size: 28px;
  text-align: center;
  margin: 75px 0px 25px 0px;
}
div.profile_thumbnail div.strength {
  background-color: orange;
  opacity: 0.65;
}
div.profile_thumbnail div.strength p {
  text-align: center;
  font-weight: 100;
  color: #f1fffd;
  line-height: 150%;
  margin: 15px;
}
div.profile_thumbnail div.strength img {
  max-width: 40px;
  margin-left: 20px;
  margin-bottom: 25px;
}
div.profile_thumbnail div.s1 {
  background-color: orange;
  opacity: 1;
}
div.profile_thumbnail div.s2 {
  background-color: orange;
  opacity: 0.8;
}

/* -------- PROFILE -------- */
div#profile {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-weight: 100;
  background-color: white;
  display: block;
  padding-top: 50px !important;
}
div#profile input.compinput {
  width: 150px;
}
div#profile div.center-block h2 {
  margin-top: 20px;
  height: 0px;
}
div#profile div.sectionhead {
  height: 30px;
  margin: 40px;
}
div#profile div#profilehead {
  height: 160px;
}
div#profile div#profilehead div.uploadbtn {
  padding-top: 35px;
  text-align: center;
  font-size: 14px;
}
div#profile div#profilehead div.person {
  height: 150px;
  width: 160px;
  background-color: orange;
}
div#profile div#profilehead div#profilepic {
  color: #352f2b;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 15px 0px 0px 15px;
  background-color: white;
}
div#profile div#profilehead div#profilepicwrap {
  width: 150px;
  height: 150px;
  margin: 15px 0px 0px 40px;
}
div#profile div#profilehead img.profilepic {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
div#profile div#profilehead h2#title {
  text-align: left;
  color: #352f2b;
  margin: 3px;
}
div#profile div#profilehead h4#name {
  color: white;
  font-size: 18px;
  padding: 5px;
}
div#profile div#profilehead h5#summary {
  color: #352f2b;
  margin: 45px 0px 0px 5px;
}
div#profile div.profilebody {
  color: #352f2b;
  height: 125px;
}
div#profile div.profilebody h2 {
  font-size: 64px;
  margin: 20px;
  color: #352f2b;
  font-weight: 900;
  letter-spacing: 5px;
}
div#profile div.profilebody div.skills {
  padding: 0px;
  height: 125px;
  border-right: 2px solid orange;
}
div#profile div.profilebody div.skill {
  height: 40px;
  width: 100%;
  background-color: orange;
  float: right;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
div#profile div.profilebody div.skill input {
  outline: 0;
  color: white;
  margin: 6px;
  border: none;
  border-bottom: 1px solid #f1fffd;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: orange;
}
div#profile div.profilebody div.skill textarea {
  border: none !important;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 16px;
}
div#profile div.profilebody div.skill textarea :focus {
  outline: 0;
}
div#profile div.profilebody div.skill p {
  margin: 10px;
}
div#profile div.add {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: orange;
  vertical-align: bottom;
  margin-bottom: 40px;
  float: right;
}
div#profile div.add img {
  width: 20px;
  margin: 5px;
}
div#profile div.addleft {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left !important;
  margin: 80px 100px;
}
div#profile div.addleft img {
  margin: 10px;
  width: 30px;
  height: 30px;
}
div#profile div#profileperson {
  height: 250px;
  width: 100%;
}
div#profile div#profileperson input {
  font-size: 24px;
  outline: 0;
  color: white;
  margin: 6px;
  border: none;
  border-bottom: 1px solid #f1fffd;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: orange;
}
div#profile div#profileperson textarea {
  margin: 10px 0px 15px 5px;
  border: 1px solid #f1fffd;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 16px;
  background-color: orange;
  text-align: left;
}
div#profile div#profileperson textarea :focus {
  outline: 0;
}
div#profile div#profileperson div.trait {
  background-color: orange;
  width: 30%;
  height: 200px;
  margin: 10px;
}
div#profile div#profileperson div.trait h4 {
  line-height: 160%;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
div#profile div#profileperson div.trait p {
  line-height: 160%;
  text-align: center;
  margin: 25px;
}
div#profile div.personality {
  height: 50px;
  width: 900px;
  margin: 25px 0px 15px 0px;
  display: inline-block;
}
div#profile div.personality div {
  width: 400px;
  display: inline-block;
  margin-left: 300px;
}
div#profile div#profileinput {
  clear: both;
  width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 22px;
  color: #352f2b;
}
div#profile div#profileinput h2 {
  display: inline;
  font-size: 64px;
}
div#profile div#profileinput input, div#profile div#profileinput textarea {
  outline: none;
  border: none;
}
div#profile div#profileinput input {
  border-bottom: 1px solid #352f2b;
  font-weight: 400;
}
div#profile div#profileinput textarea {
  margin-top: 15px;
  border: 1px solid rgba(254, 164, 0, 0.3);
}
div#profile label {
  font-weight: 100;
  margin: 15px 0px;
}

::-webkit-input-placeholder {
  color: white;
}

::-webkit-textarea-placeholder {
  color: white;
}

input.traitinput {
  width: 180px;
  float: left;
}

div.togglediv {
  float: right;
}

button.toggle {
  background-color: darkorange;
  width: 38px;
  height: 40px;
}

input.eduinput {
  border: 1px solid orange;
  margin-bottom: 10px 0px;
  width: 275px;
}

input#save {
  width: 100%;
  height: 50px;
  background-color: #009688;
  color: #f1fffd;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 10px;
  border: none;
  margin-bottom: 50px;
}
