/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//COLORS
	$light:rgb(241,255,253);
	$dark:rgb(53,47,43);
	$teal: #009688;
	$lightblue: #03A9F4;
	$orange: #FF9800;
	$green:rgb(90,135,56);
	$red:rgb(202,65,35);

//FONTS
	//Regular
	@font-face {
	   font-family: 'Roboto';
	}

//MIXINS
	@mixin wrap($width, $top, $bottom){
		width: $width;
		margin-left: auto;
		margin-right: auto;
		margin-top: $top;
		margin-bottom: $bottom;
	}
	@mixin full-width{
		clear: both;
		width: 100%;
	}

//CSS
//REUSED ELEMENTS
body {
	margin-top: 0px;
	font-family: 'Roboto';
	color: $dark;
	input{outline: none;}
	textarea{outline: none; resize:none;}
}

h1{
	font-size: 80px;
	text-align: center;
	line-height: 140%;
	color: rgb(60,60,60);
	margin-top: 40px;
}
h2{
	font-size: 48px;
	color: #009688;
	text-align: center;
	font-weight: 100;
	margin-top: 60px;
	line-height: 60%;
}
h3{
	font-size: 24px;
	color: #4DB6AC;
	text-align: center;
	margin: 15px 0px;
}

div#wrapper{
	@include wrap(100%, 0px, 0px);
	height: 1600px;
}

img#logo{
	width: 46px;
	position: fixed;
	top: 10px;
	left: 50px;
}
h3#compent{position: fixed;
	top: 5px;
	left: 120px;}

ul#menu{
	position: fixed;
	top: 25px;
	right: 40px;
	width: 400px;
	z-index: 10;
	li{
		display: block;
		float: right;
		width: 70px;
		a:hover{
				text-decoration: underline;
			}
	}
}

main{
	@include wrap(100%, 0px, 0px);
	height: 1500px;
	z-index: 1;
}

div#menuwrap{
	height: 65px;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 12;
	margin-bottom: 50px;
	div#menu{@include wrap(1250px, 0px, 0px);}
	//ul#menu{margin-top: 25px;}
	//img#logo{margin-top: 25px;}
}

div#fold{
	width: 100%;
	height: 700px;
	background-color: $light;
}

div#tagline{
	padding-top: 100px;
	height: 400px;
	margin-bottom: 75px;
}

div#CTA{
	@include wrap(300px, 40px, 0px);
	input#CTA{
		width: 300px;
		height: 60px;
		border-radius: 5px;
		background-color: #4DB6AC;
		color: white;
		font-size: 28px;
		-webkit-appearance:none;
		appearance: none;
		outline: none;
		border: none;
	}
}


div#show{
	height: 550px;
	div#columns{
		@include wrap(900px, 0px, 0px);
		height: 350px;
		margin-top: 100px;
		img{
			width: 100px;
			margin: auto;
		}
		p{
			line-height: 140%;
			text-align: center;}
	}
	div#tagline2{
		height: 230px;
		padding-bottom: 50px;
		padding-top: 10px;
	}
}

div#lookwrap{
	background-color: $light;
	height: 900px;
	div#look{
		@include wrap(900px, 50px, 0px);
		height: 900px;
		div#howlook{
			display: inline-block;
			text-align: center;
			margin: 50px 0px 50px -60px;
			div{
				width: 300px;
				margin-left: 120%;
				h4{
					font-size: 32px;
					text-align: center;
				}
			}
		}
	}
}

a.profile_link{color: $dark;}
div.profile_thumbnail{
	padding: 0px;
	width: 31%;
	margin: 10px;
	background-color: white;
	img.cover{width: 100%; height: 125px;}
	img.foto{
		position: absolute;
		height: 100px;
		width: 100px;
		border-radius: 50px;
		left: 100px;
		top: 75px;
		border: 3px solid white;
	}
	p{
		margin: 5px;
		line-height: 150%;
	}
	p.summary{
		font-weight: 100;
		font-size: 14px;
		text-align: center;
		margin: -20px 0px 25px 5px;
	}
	h4{
		font-size: 28px;
		text-align: center;
		margin: 75px 0px 25px 0px;
	}
	div.strength{
		background-color: orange;
		opacity: 0.65;
		p{
			text-align: center;
			font-weight: 100;
			color: $light;
			line-height: 150%;
			margin: 15px;
		}
		img{
			max-width: 40px;
			margin-left: 20px;
			margin-bottom: 25px;
		}
	}
		div.s1{background-color: orange;
			opacity: 1;}
		div.s2{background-color: orange;
			opacity: 0.8;}
}


/* -------- PROFILE -------- */

div#profile{
	@include wrap(900px, 0px, 0px);
	color: white;
	font-weight: 100;
	background-color: white;
	display: block;
	padding-top: 50px !important;
input.compinput{width: 150px;}
div.center-block{
	h2{margin-top: 20px;
		height: 0px;}
}
div.sectionhead{height: 30px;
margin:40px;}

	div#profilehead{
		height: 160px;
		div.uploadbtn{padding-top: 35px;
			text-align: center;
			font-size: 14px;}
		div.person{
			height: 150px;
			width: 160px;
			background-color: orange;}
			div#profilepic{
				color: $dark;
				width: 100px;
				height: 100px;
				border-radius: 50px;
				margin: 15px 0px 0px 15px;
				background-color: white;
			}
			div#profilepicwrap{
				width: 150px;
				height: 150px;
				margin: 15px 0px 0px 40px;
			}
			img.profilepic{
				width: 150px;
				height: 150px;
				border-radius: 75px;
			}
			h2#title{text-align: left; color: $dark; margin:3px;}
			h4#name{color: white; font-size: 18px; padding: 5px;}
			h5#summary{color: $dark; margin: 45px 0px 0px 5px;}
		}

	div.profilebody{
		color: $dark;
		height: 125px;
		:first-child{
			//margin-top: 25px;
		}
		h2{font-size: 64px;
			margin: 20px;
			color: $dark;
			font-weight: 900;
			letter-spacing: 5px;
		}
		div.skills{
			padding: 0px;
			height: 125px;
			border-right: 2px solid orange;
		}
		div.skill{
			height: 40px;
			width: 100%;
			background-color: orange;
			float: right;
			color: white;
			font-size: 20px;
			font-weight: 300;
			text-align: center;
			input{
				outline: 0;
				color: white;
				margin: 6px;
				border: none;
				border-bottom: 1px solid $light;
				-webkit-appearance:none;
				appearance:none;
				background-color: orange;
			}
			textarea{
				border: none !important;
				outline: none !important;
				-webkit-appearance:none;
				appearance:none;
				font-size: 16px;
				:focus{
					outline: 0;
				}
			}
			p{
				margin: 10px;
			}
		}
	}
		div.add{
			width: 30px;
			height: 30px;
			border-radius: 15px;
			background-color: orange;
			vertical-align: bottom;
			margin-bottom: 40px;
			float: right;
			img{
				width: 20px;
				margin: 5px;
			}
		}
		div.addleft{
			width: 50px;
			height: 50px;
			border-radius: 25px;
			float: left !important;
			margin: 80px 100px;
			img{
				margin:10px;
				width: 30px; height: 30px;}
		}

	div#profileperson{
		height: 250px;
		width: 100%;
			input{
				font-size: 24px;
				outline: 0;
				color: white;
				margin: 6px;
				border: none;
				border-bottom: 1px solid $light;
				-webkit-appearance:none;
				appearance:none;
				background-color: orange;
			}
			textarea{
				margin: 10px 0px 15px 5px;
				border: 1px solid $light;
				outline: none !important;
				-webkit-appearance:none;
				appearance:none;
				font-size: 16px;
				background-color: orange;
				text-align: left;
				:focus{outline: 0;}
			}
		div.trait{
			background-color: orange;
			width: 30%;
			height: 200px;
			margin: 10px;
			h4{
				line-height: 160%;
				font-size: 24px;
				text-align: center;
				font-weight: 400;
			}
			p{
				line-height: 160%;
				text-align: center;
				margin: 25px;
			}
		}
	}
div.personality{
	height: 50px;
	width: 900px;
	margin: 25px 0px 15px 0px;
	display: inline-block;
	div{
		width: 400px;
		display: inline-block;
		margin-left: 300px;
	}
}

	div#profileinput{
		@include full-width;
		@include wrap(100%, 20px, 25px);
		font-size: 22px;
		color: $dark;
		h2{display: inline; font-size: 64px;}
		input, textarea{outline: none;
			border: none;
		}
		input{border-bottom: 1px solid $dark;
			font-weight: 400;
		}
		textarea{
			margin-top: 15px;
			border: 1px solid rgba(254,164,0,0.3);}
	}

	label{font-weight: 100; margin: 15px 0px;}
}
		::-webkit-input-placeholder {
			color:white;
		}
		::-webkit-textarea-placeholder {
			color:white;
		}
input.traitinput{
	width: 180px;
	float: left;
}
div.togglediv{
	float: right;
}
button.toggle{
	background-color: darkorange;
	width: 38px; height: 40px;
}

input.eduinput{
	border: 1px solid orange;
	margin-bottom: 10px 0px;
	width: 275px;
}

input#save{
	width: 100%;
	height: 50px;
	background-color: $teal;
	color: $light;
	border-radius: 10px;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 10px;
	border:none;
	margin-bottom: 50px;
}