
<div>

	<div id="fold">
		<div id="tagline">
			<h1>Resumes are boring</h1>
			<h1 style="font-size:75px;">People are not</h1>
		</div>

		<div>
			<div id="CTA">
					<a ui-sref="pro"><input type="button" id="CTA" value="Get Compent for Business" style="width:400px; margin-left:-50px;"></a>
			</div>
		</div>
	</div>


	<div id="show">

		<div id="columns">
			<div class="col-md-6">

				<img src="images/confident.png" alt="confident" class="center-block">
				<h3>Your people are your business</h3>
				<p>People are valuable to your business. Their values are felt, not written in resumes. Expressed through competences and personalities. Search for competences and personalities with Compent for business to expand your business the human way.</p>
			</div>
			<div class="col-md-6">
				<img src="images/creative.png" alt="creative" class="center-block">
				<h3>Value who they are</h3>
				<p>Build your business environment focused on growth, purpose and well-being. The growth and well-being of your people are an essential asset to your companies succes. Define the people you're looking for and find them with Compent for business.</p>
			</div>
			</div>

		<div id="tagline2">
			<h2>Grow your business with people</h2>
			<h2>not resumes</h2>
		</div>
	</div>

	<div id="lookwrap">
		<div id="look">

			<div id="howlook" style="margin-left:-50px;">
				<div><h4>Why would you?</h4></div>
			</div>

			<div>
				<h3 style="line-height:140%;">
					80% of millennials would take less money to join a team with a culture and <b>people</b> that they enjoy.
				</h3>
				<p class="pull-right"> — Glassdoor Study</p>
			</div>

		<div style="display:block; margin-top:50px;">
			<div id="CTA">
					<a ui-sref="pro"><input type="button" id="CTA" value="Get Compent for Business" style="width:400px; margin-left:-50px;"></a>
			</div>
		</div>

		</div><!-- LOOK -->
		</div><!-- LOOKWRAP -->


</div>


