<link rel="stylesheet" href="../css/contact.css">

<div class='container' ng-hide="contact">
  <header>
    <h1 style="font-size:48px; color:white; text-transform:none;">Contact Compent</h1>
  </header>
  <div class='name'>
    <input class='first' placeholder='First Name' type='text'>
    <input class='last' placeholder='Last Name' type='text'>
  </div>
  <div class='contact'>
    <input class='email' placeholder='E-mail Address' type='email'>
  </div>
  <div class='message'>
    <textarea placeholder='Your questions Here!'></textarea>
  </div>
  <footer>
    <input type="submit" value="Send!" ng-click="contactf()" style="width:100%; font-size:24px; color:#009688; font-weight:800; letter-spacing:5px;">
  </footer>
</div>

    <h3 ng-hide="!contact" style="margin-top:150px; display:block;"> Your message was sent, we'll get back to you as soon as possible. </h3>
