

<div id="profile">
	<img src="images/nicomuller.jpg" alt="erndswun"
	style="width:900px;">
<!--
	<div id="profilehead">

		<div class="col-md-3 person">

			<div id="profilepicwrap"><img src="//architectstrace.files.wordpress.com/2010/05/architect.jpg" alt="foto" class="profilepic"></div>
			<h3 id="name">Ernd Swün</h3>
		</div>

		<div class="col-md-9">
			<h2 id="title">Architect</h2>
			<h5 id="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cum quaerat voluptas tenetur aperiam blanditiis minima, temporibus quis repellendus, enim aspernatur, quas laudantium maiores nam assumenda totam cumque. Nobis, maiores.</h5>
		</div>

	</div>

	<div id="profilebody">

		<div class="col-md-3 skills" style="height:570px">
			<div class="skill">
				<p>Technical drawing</p>
			</div>
			<div class="skill">
				<p>Material knowledge</p>
			</div>
			<div class="skill">
				<p>CAD design</p>
			</div>
			<div class="add" style="display:none;">
				<img src="images/add.png" alt="add skill">
			</div>
		</div>

		<div class="col-md-9">
			<div class="center-block">
				<h2>Strengths</h2>
			</div>
			<div class="skilldesc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, illum, ullam amet alias ratione eaque recusandae iure iste dolores libero nemo? Dicta officiis ut repudiandae, consectetur tenetur odio repellat totam.</p>
			</div>
			<div class="skilldesc" style="margin-top:130px;">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, illum, ullam amet alias ratione eaque recusandae iure iste dolores libero nemo? Dicta officiis ut repudiandae, consectetur tenetur odio repellat totam.</p>
			</div>
			<div class="skilldesc" style="margin-top:140px;">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, illum, ullam amet alias ratione eaque recusandae iure iste dolores libero nemo? Dicta officiis ut repudiandae, consectetur tenetur odio repellat totam.</p>
			</div>
		</div>

	</div>

	<div id="profileperson" style="margin-top:50px;">
		<div class="col-md-4 trait" style="padding:0px; margin-right:10px;">
			<h4>Team player</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut consectetur saepe, quis molestias tempore</p>
		</div>
		<div class="col-md-4 trait" style="padding:0px; margin-right:10px;">
			<h4>Analytical</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut consectetur saepe, quis molestias tempore</p>
		</div>
		<div class="col-md-4 trait" style="padding:0px; margin-right:10px;">
			<h4>Trouble shooting</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut consectetur saepe, quis molestias tempore</p>
		</div>
	</div>
-->
</div>



