<link rel="stylesheet" href="../css/pro.css">

    <div class="wrapper">
        <div class="head" style="margin-bottom:50px;">
            <h1>Questions?</h1>
            <h1>Answers!</h1>
        </div>

        <div id="columns">
            <div class="col-md-12" style="margin-bottom:50px;">
                <h3 style="font-size:32px;">How is Compent different than a normal resume?</h3>
                <h4 style="width:900px; margin:auto; line-height:160%; font-size:20px;">A company might ask for a traditional resume that simply lists where you went to school and your past jobs. Don’t settle for that low bar! You are more than your resume. There are actually many companies out there who care about you as a real person. They want to know how you work best. They desire to have you grow with them. The best companies want to hire all of you. Compent focuses on your competences, personality, story, passions, character, and dreams.</h4>
            </div>
            <div class="col-md-12" style="margin-bottom:50px;">
                <h3 style="font-size:32px;">What jobs can I apply for with Compent?</h3>
                <h4 style="width:900px; margin:auto; line-height:160%; font-size:20px;">Any on the internet, basically. Currently, you can apply for any job that allows you to apply via email or PDF. When you create a Compent profile, you can send the PDF version to anyones email address. You can also download the PDF and upload that PDF to any job posting anywhere on the internet.</h4>
            </div>
            <div class="col-md-12" style="margin-bottom:50px;">
                <h3 style="font-size:32px;">Will companies like it?</h3>
                <h4 style="width:900px; margin:auto; line-height:160%; font-size:20px;">Yes, absolutely! A Compent profile will make you stand out from the crowd with all those boring, same-looking resumes. Companies are always looking for educated and experienced people, but competences and personality are just as important. In fact, there are multiple <a href="http://www.rightmanagement.co.uk/wps/wcm/connect/right-uk-en/home/thoughtwire/categories/thought-leadership/The+Flux+Report+-+Building+a+resilient+workforce+in+the+face+of+flux">studies</a> and <a href="http://www.forbes.com/sites/susanadams/2014/11/12/the-10-skills-employers-most-want-in-2015-graduates/">articles</a> that show technical skills related to the job are only listed 7th after competences like leadership, management and interpersonal skills. So get them listed!</h4>
            </div>
        </div>
    </div>

            <div style="display:inline-block; margin:50px 500px;">
            <div id="CTA">
                    <a ui-sref="profile"><input type="button" id="CTA" value="Get Compent Now!"></a>
            </div>
        </div>

