
<div>

	<div id="fold">
		<div id="tagline">
			<h1>Engage competences</h1>
			<h1 style="font-size:75px;">Train skills</h1>
		</div>
		<h3 style="margin-bottom:75px;">Improving the recruiting process by focusing on people and their competences.</h3>

		<div>
			<div id="CTA">
					<a ui-sref="profile"><input type="button" id="CTA" value="Get Compent Now!"></a>
			</div>
		</div>
	</div>


	<div id="show">

		<div id="columns">
			<div class="col-md-4">

				<img src="images/confident.png" alt="confident" class="center-block">
				<h3>Show confidence</h3>
				<p>Show the world what you're good at. Wether you are a graduate or an experienced senior.</p><p>You've got competences that are worth a beautifull display.</p><p> Compent is for you.</p>
			</div>
			<div class="col-md-4">
				<img src="images/creative.png" alt="creative" class="center-block">
				<h3>Be creative</h3>
				<p>Your competences define you.</p><p> It's who you are.</p><p> Everybody is a different person, so let your creativity flow and describe your competences the best you can.<p>Give it a shot!</p>
			</div>
			<div class="col-md-4">
				<img src="images/simple.png" alt="simple" class="center-block">
				<h3>Stay simple</h3>
				<p>Build a Compent profile that defines who you are. No need for unnecesarry clutter that no recruiter will ever read.</p><p> Get the basics, nothing more.</p><p>Build your profile precisely.</p>
			</div>
			</div>

		<div id="tagline2">
			<h2>Showcase your personality</h2>
			<h2>with a unique Compent profile</h2>
		</div>
	</div>

	<div id="lookwrap">
		<div id="look">

			<div id="howlook">
				<div><h4>How does it look?</h4></div>
			</div>

			<div>

			<a ui-sref="erndswun" class="profile_link">
			<div class="col-md-4 profile_thumbnail">
				<img src="images/desk.jpg" alt="cover" class="cover">
				<div class="pull-left">
					<p>Mario Leppe</p>
					<p>29 yr</p>
				</div>
				<img src="images/seba.jpg" alt="foto" class="foto">
				<div class="pull-right">
					<p>Antwerp</p>
					<p>Belgium</p>
				</div>
				<h4>Project manager</h4>
				<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At mollitia eligendi, sit iste quidem velit quas quam doloribus quis, ipsa</p>
				<div class="col-md-4 strength s1">
					<p>Lead</p>
					<img src="images/lead.png" alt="lead">
				</div>
				<div class="col-md-4 strength s2">
					<p>Interact</p>
					<img src="images/communicate.png" alt="communicate">
				</div>
				<div class="col-md-4 strength s3">
					<p>Organise</p>
					<img src="images/organise.png" alt="organise">
				</div>
			</div>
			</a>

			<a ui-sref="erndswun" class="profile_link">
			<div class="col-md-4 profile_thumbnail">
				<img src="//upload.wikimedia.org/wikipedia/commons/f/f9/Umbria_Plantation_-_Architectural_drawing_of_front_and_east_elevations.png" alt="cover" class="cover">
				<div class="pull-left">
					<p>Ernd Swün</p>
					<p>37 yr</p>
				</div>
				<img src="//architectstrace.files.wordpress.com/2010/05/architect.jpg" alt="foto" class="foto">
				<div class="pull-right">
					<p>Malmö</p>
					<p>Sweden</p>
				</div>
				<h4>Architect</h4>
				<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At mollitia eligendi, sit iste quidem velit quas quam doloribus quis, ipsa</p>

				<div class="col-md-4 strength s1">
					<p>Agile</p>
					<img src="images/agile.png" alt="agile">
				</div>
				<div class="col-md-4 strength s2">
					<p>Analyse</p>
					<img src="images/wireframe.png" alt="wireframe">
				</div>
				<div class="col-md-4 strength s3">
					<p>Script</p>
					<img src="images/javascript.png" alt="javascript">
				</div>
			</div>
			</a>

			<a ui-sref="erndswun" class="profile_link">
			<div class="col-md-4 profile_thumbnail">
				<img src="http://keyin.ca/wp-content/uploads/welder.jpg" alt="cover" class="cover">
				<div class="pull-left">
					<p>Gregor Copp</p>
					<p>51 yr</p>
				</div>
				<img src="//image.thefabricator.com/a/basic-metallurgy-for-welders-metallurgy-welder.jpg" alt="foto" class="foto">
				<div class="pull-right">
					<p>Chicago</p>
					<p>Illinois</p>
				</div>
				<h4>Welder</h4>
				<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At mollitia eligendi, sit iste quidem velit quas quam doloribus quis, ipsa</p>
				<div class="col-md-4 strength s1">
					<p>Motivate</p>
					<img src="images/motivate.png" alt="motivate">
				</div>
				<div class="col-md-4 strength s2">
					<p>Interact</p>
					<img src="images/communicate.png" alt="communicate">
				</div>
				<div class="col-md-4 strength s3">
					<p>Network</p>
					<img src="images/network.png" alt="network">
				</div>
			</div>
			</a>

		<div style="display:inline-block; margin:100px 300px;">
			<div id="CTA">
					<a ui-sref="profile"><input type="button" id="CTA" value="Get Compent Now!"></a>
			</div>
		</div>

		</div><!-- LOOK -->
		</div><!-- LOOKWRAP -->

</div>


