<link rel="stylesheet" href="../css/pro.css">

    <div class="wrapper">
        <div class="head">
            <h1>Compent Pro</h1>
            <h2 style="line-height:150%; font-size:36px;">Use your Compent as your powerful & personal introduction to jobs, business opportunities and more.</h2>
        </div>
        <!-- PRICING-TABLE CONTAINER -->
        <div class="pricing-table group">
            <h1 class="heading">
                Pricing overview
            </h1>
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">Free</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>0</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Perfect for freelancers</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Limited profile</li>
                    <li><span class="fontawesome-pencil"></span>No saving</li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Free forever</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->
            <!-- PROFESSIONAL -->
            <div class="block professional fl">
                <h2 class="title">Professional</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>3</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Suitable for professionals</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Full profile</li>
                    <li><span class="fontawesome-star"></span>Track 100 viewers/mo.</li>
                    <li><span class="fontawesome-check">&nbsp;</span>Save your profile</li>
                    <li><span class="fontawesome-cloud"></span>Personal URL</li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Personal branding</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PROFESSIONAL -->
            <!-- BUSINESS -->
            <div class="block business fl">
                <h2 class="title">Business</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>5</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">For high level profiles</p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Unlimited profiles</li>
                    <li><span class="fontawesome-star"></span>All viewer tracking</li>
                    <li><span class="fontawesome-check">&nbsp;</span>Save your profile</li>
                    <li><span class="fontawesome-cloud"></span>Personal URL</li>
                    <li><span class="fontawesome-upload"></span>Export to PDF</li>
                    <li><span class="fontawesome-linkedin">&nbsp;</span>Share on LinkedIn</li>
                    <li><span class="fontawesome-credit-card">&nbsp;</span>Compent cards</li>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>high level profiles</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /BUSINESS -->
        </div>
        <!-- /PRICING-TABLE -->
    </div>

        <div style="display:inline-block; margin:100px 500px;">
            <div id="CTA">
                    <a ui-sref="profile"><input type="button" id="CTA" value="Get Compent Now!"></a>
            </div>
        </div>

