

<div id="profile">

	<div id="profileinput">
			<label for="title"><h2 style="margin:0px; font-size:36px;">Hello</h2>, my name is </label>
			<input type="text" name="name" ng-model="name">

		<label for="title">and I'm a </label>
		<input type="text" name="title" ng-model="title">
		<p>
			<label for="summary" style="vertical-align:top;">hire me because </label>
			<textarea name="summary" ng-model="summary" rows="3" cols="53" style="margin-top:15px;"></textarea>
		</p>
	</div>

	<div id="profilehead">

		<div class="col-md-3 person">
			<div id="profilepic">
				<div class="button uploadbtn" ngf-select="upload($file)">Click or drop to upload profile picture</div>
				<div ngf-drop="uploadFiles($files)" class="drop-box"
				  ngf-drag-over-class="dragover" ngf-multiple="true"
				  ngf-pattern="'image/*,application/pdf'"></div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

				<!--<img ngf-src="file || '/Profile_mockup.jpg'" alt="thumbnail">-->
			</div>
			<!--<img src="Profile_mockup.jpg" alt="uploaded pic?">-->
			<h4 id="name">{{name}}</h4>
		</div>

		<div class="col-md-9">
			<h2 id="title">{{title}}</h2>
			<h5 id="summary">{{summary}}</h5>
		</div>

	</div>

<hr>

<!--   COMPETENCES  -->
<div>
		<div class="center-block sectionhead">
			<h2>Competences</h2>
		</div>

	<div>

		<div class="profilebody" ng-repeat="skill in skills track by $index" ng-init="skillIndex = $index">
			<!-- COMPETENCE NAME INPUT -->
			<div class="col-md-3 skills">
				<div class="skill">
					    <div>
					      <input type="text" class="compinput" value="{{selectedcomp[skillIndex]}}">
					      <div class="btn-group togglediv" dropdown>
								<button type="button" class="btn toggle" dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">split</span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="split-button" ng-model="selectedcomp">
									<li role="menuitem" ng-repeat="comp in competences | orderBy:'comp' track by $index"><a href="" ng-click="setcompetence(comp, skillIndex)">{{comp}}</a></li>
								</ul>
				    		</div>
					    </div>
				</div>
			</div>
			<!-- COMPETENCE DESCRIPTION INPUT -->
			<div class="col-md-9">
				<div class="skilldesc" >
					<textarea rows="5" cols="50" style="border:1px solid orange; outline:none;" placeholder="">Describe your {{selectedcomp[skillIndex]}} abilities</textarea>
				</div>
			</div>
		</div>

			<!-- ADD COMPETENCE -->
			<div style="width:26.5%; margin-bottom:100px;"> 
				<div class="add" ng-click="addSkill()">
					<img src="images/add.png" alt="add skill">
				</div>
			</div>

	</div>
</div>

<hr>

<!--   PERSONALITY  -->
<div>
	<div class="center-block sectionhead">
		<div>
			<h2>Personality</h2>
		</div>
	</div>

	<div id="profileperson">
		<div class="col-md-4 trait" ng-repeat="trait in traits track by $index" ng-init="traitIndex = $index">
			<input type="text" class="traitinput" value="{{selectedtrait[traitIndex]}}" style="margin-right:-15px;">
			<div class="btn-group togglediv" dropdown>
				<button type="button" class="btn toggle" dropdown-toggle>
					<span class="caret"></span>
					<span class="sr-only">split</span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="split-button" ng-model="selectedtrait">
					<li role="menuitem" ng-repeat="ptrait in persontraits"><a href="" ng-click="settrait(ptrait, traitIndex)">{{ptrait}}</a></li>
				</ul>
    		</div>

			<textarea name="personalityDesc" cols="27" rows="7"></textarea>
		</div>

		<!--   ADD PERSONALITY  -->
		<div style="display:block;" ng-show="showaddpers">
			<div class="add addleft" ng-click="addTrait()">
				<img src="images/add.png" alt="add trait" width="80">
			</div>
		</div>

	</div>
</div><!--   END PERSONALITY  -->

<hr>

<div ng-click="showstory = !showstory">
	<h2 ng-show="!showstory" style="width:900px;">Click to add a story</h2>
</div>
<div style="height:350px;" ng-show="showstory">
		<div class="center-block sectionhead">
			<h2>My story</h2>
		</div>
		<div>
			<textarea rows="15" cols="110" style="border:1px solid orange; outline:none; color:black;"></textarea>
		</div>
</div>

<hr>
<div ng-click="showedu = !showedu" style="margin-bottom:50px;">
	<h2 ng-show="!showedu">Click to add education & experience</h2>
	<hr ng-show="!showedu">
</div>

<!--   EDUCATION & EXPERIENCE  -->
<div style="height:500px; margin-top:50px;" ng-show="showedu">
		<div class="center-block sectionhead">
			<h2>Education & Experience</h2>
		</div>

		<div class="profilebody" ng-repeat="edex in edex track by $index" style="height:200px;">

			<div class="col-md-3 skills"  style="height:200px;">
				<div class="skill">
					    <div class="btn-group">
					      <input id="split-button" type="text" placeholder="School / employer">
					    </div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="skilldesc" >
					<input type="text" value="Degree / title" style="color:black;" class="eduinput">
					from:
							<div class="btn-group" dropdown>
								<button type="button" class="btn toggle" dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">split</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem" ng-repeat="jaar in years track by $index"><a href="">{{jaar}}</a></li>
								</ul>
							</div>
					to
							<div class="btn-group" dropdown>
								<button type="button" class="btn toggle" dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">split</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem" ng-repeat="jaar in years track by $index"><a href="" >{{jaar}}</a></li>
								</ul>
							</div>

					<p><input type="text" value="Field of study / sector" class="eduinput"></p>
					<p><textarea rows="4" cols="50" style="border:1px solid orange; outline:none; margin-top:10px;">Describe your study / function</textarea></p>

				</div>
			</div>
		</div>

		<!-- ADD EDUCATION & EXPERIENCE -->
		<div style="width:26.5%; margin-bottom:50px;"> 
			<div class="add" ng-click="addEdex()">
				<img src="images/add.png" alt="add skill">
			</div>
		</div>
</div>

<div>
	<a ui-sref="pro"><input type="button" value="Save" id="save"></a>
</div>

</div>



